[Desktop Entry]
Name=gtans
Comment=Tangram puzzle
Comment[pl]=Układanka - tangramy
Icon=gtans
Exec=gtans
Terminal=false
Type=Application
Categories=GTK;Game;LogicGame;
# vi: encoding=utf-8
